/* use css layers to organise the styles into different layers 
coz its going to get longer 

2 benefits of using layers:
 - we can fold layers and hide all the styles if were not working with it.
 - and to control specificy. 
*/

/* global layer contains: 
font family, color properties font size properties, root, img, body and h tags */
@layer global {
    /* dm-sans-300 - latin */
    @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 300;
    src: url('/assets/fonts/dm-sans-v17-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }
    /* dm-sans-500 - latin */
    @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    src: url('/assets/fonts/dm-sans-v17-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }
    /* dm-sans-600 - latin */
    @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 600;
    src: url('/assets/fonts/dm-sans-v17-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }
    /* dm-sans-600italic - latin */
    @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'DM Sans';
    font-style: italic;
    font-weight: 600;
    src: url('/assets/fonts/dm-sans-v17-latin-600italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }
    /* dm-sans-700 - latin */
    @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    src: url('/assets/fonts/dm-sans-v17-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }

    /* bricolage-grotesque-700 - latin */
    @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Bricolage Grotesque';
    font-style: normal;
    font-weight: 700;
    src: url('/assets/fonts/bricolage-grotesque-v9-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }

    /* control panel for colors and font sizes */
    /* create colours */
    :root {
        --c-neutral-900: hsl(243, 96%, 9%);
        --c-neutral-800: hsl(243, 27%, 20%);
        --c-neutral-700: hsl(243, 23%, 24%);
        --c-neutral-600: hsl(243, 23%, 30%);
        --c-neutral-300: hsl(240, 6%, 70%);
        --c-neutral-200: hsl(250, 6%, 84%);
        --c-neutral-0: hsl(0, 0%, 100%);
        --c-orange-500: hsl(28, 100%, 52%);
        --c-blue-500: hsl(233, 67%, 56%);
        --c-blue-700: hsl(248, 70%, 36%);

        /* custom color properties for designs */
        --color-main-bg: var(--c-neutral-900);
        --color-text-light: var(--c-neutral-0);
        --color-text-med-light: var(--c-neutral-200);
        --color-panel-bg-dark: var(--c-neutral-800);
        --color-panel-bg-dark-hover: var(--c-neutral-700);
        --color-panel-bg-med: var(--c-neutral-700);
        --color-panel-bg-light: var(--c-neutral-600);
        --color-panel-border: var(--c-neutral-600);
        --color-button-bg: var(--c-blue-500);
        --color-button-bg-hover: var(--c-blue-700);

        /* properties for font size 
        use 'rem' for font size. 
        its moe accessible if user changes the browser
        use calc() to convert from 96 pixels to rem
        divide 96 pixel by 16 coz 16 pixels is 1 rem
        and add the rem unit by multiplying it by 1
        */
        --fs-96: calc(96 / 16 * 1rem);
        --fs-52: calc(52 / 16 * 1rem);
        --fs-32: calc(32 / 16 * 1rem);
        --fs-28: calc(28 / 16 * 1rem);
        --fs-20: calc(20 / 16 * 1rem);
        --fs-18: calc(18 / 16 * 1rem);
        --fs-16: calc(16 / 16 * 1rem);
        --fs-14: calc(14 / 16 * 1rem);

        /* custom properties for font size*/
        --font-size-h1: var(--fs-52); /*h1 tags*/
        --font-size-dropdown: var(--fs-14); /*mobile*/
        --font-size-search: var(--fs-20); /*search box & search button*/
        --font-size-city: var(--fs-28); /*city name */
        --font-size-date: var(--fs-18); /*Date */
        --font-size-temp: var(--fs-96); /*Temperature*/
        --font-size-panel-title: var(--fs-18); /*temperature: feels like*/
        --font-size-panel-value: var(--fs-32); /*temperature: feels like*/
        --font-size-forecast-title: var(--fs-20); /*daily forecast for daily & hourly*/
        --font-size-forecast-day: var(--fs-18); /*daily forecast for days*/
        --font-size-forecast-temp: var(--fs-16); /*daily forecast temperature*/
        --font-size-forecast-dropdown: var(--fs-16); /*hourly forecast dropdown*/
        --font-size-forecast-hour: var(--fs-20); /*forecast for hour*/

        /* change drop down font size for tablet
        use calc() to convert from pixels to rems
        */
        @media (width >= calc(700 / 16 * 1rem)) {
            --font-size-dropdown: var(--fs-16); /*drop-down font size for tablet*/
        }
    }

    /* reset default browser styles we don't want 
        * reset all 
        box size will add padding and border for elements total width & height
    */
    *, 
    *::before, 
    *::after {
        box-sizing: border-box;
    }

    /* get rid of all default margins that gets added to list, h and p tags */
    * {
        margin: 0;
    }

    /* will prevent horizontal scrolling (so this will set boundary) */
    img {
        max-width: 100%;
    }

    body {
        font-family: "DM Sans", Arial, Helvetica, sans-serif;
        font-weight: 500;
        /* all the child elements of body tag will inherit this colors */
        background-color: var(--color-main-bg);
        color: var(--color-text-light);
        line-height: 1.2;
        padding-block-end: 80px; /*bottom of the page*/
    }

    /* How's the sky looking today? */
    h1 {
        font-family: "Bricolage Grotesque", Arial, Helvetica, sans-serif;
    }

    input, 
    button, 
    textarea, 
    select {
        /*we do font inherit here coz browser make all the form elements have
          a specific different font size.
          so even if we set the font size on body tag, the form elements will
          not inherit that coz they have all kind of font size set on
          the element itself. So we need to force it to inherit from 
          the body like we have here. Plus this will stretch our button a bit. */
        font: inherit; 
        /* width for search box and search button to control overflow
        for tablet and desktop size,*/
        width: 100%; 
        border: none; /*for all the form elements*/
    }

    /* wrapper class : space on the side top right (like outside of tags like visually) 
       this will be our helper class which we'll use throughout the site*/
    .wrapper {
        display: grid ;
        /* 1fr 1fr means were sizing everything including the space with just middle column
           calc() : first will style mobile design coz mobile was 16pixel on either side
           and everyhting esle gets in centre.
           So we want the middle column to be 100% of the width of the viewport 
           minus 16 plus 16 which is 32 and will use calc() for that.
           so, 100% - 16 *2 is 32px.
        */
        grid-template-columns: 1fr calc(100% - 32px) 1fr;

        /* tablet(700) & desktop(1216) breakpoint (logo, dropdown and hero content)
        desktop will be limited to 1216px wide, so even if we have larger monitor,
        it will be limited to 1216px*/
        @media (width >= calc(700 / 16 * 1rem)) {
            /* 24pixel of space on either side and
             add that together which is 48pixels of total space 
             use min() function to choose either 100% - 48 or the 1216
             coz when going from desktop to tablet we encounter a problem 
             where 'units' goes to the edge and beyond so to fix that we use min()
             so min( will choose whichever one is less
             
             so now it will be 100% - 48px meaning 24px on either side
             or 1216px 
             
             so mobile will be 16px on either side
             after 700(tablet mode) which is 24px on either side
             and then it stays until the middle column is 1216(desktop mode)*/
            grid-template-columns: 1fr min(calc(100% - 48px), calc(1216 / 16 * 1rem))  1fr;
        }
        /* were going to have all the children of header wrapper
         to be assigned to middle column 
         so use > direct child selector 
         and * wild card for any element
         
         so we do grid column line 2.
          now the logo, dropdown and hero content
          are assigned to middle column
          so now we have space on the left, right 
          and everything else is in the middle
          (we'll have to adjust it for tablet and desktop,
          using media queries, which is above this code)*/
        > * {
            grid-column: 2;
        }
    }

    /* Screen Readers
       Jump link or Skip Link (skip to main content)
       this will be our helper class similar to wrapper class
       which will reuse throughout the site.

       Hide elements visually: moving them off-screen
       we use left -10000px to move it off screen
       we set width and height to 1px coz 
       if we set to 0 then its not going to exist in the DOM anymore,
       so it wont be visible or navigable by screen readers.
       and overflow to hidden so nothing inside it can extend out.
       
       we get this class from website called 'accessibility developer guide'
    */
    .visually-hidden {
        position: absolute;
        left:     -10000px;
        top:      auto;
        width:    1px;
        height:   1px;
        overflow: hidden;

        /* keyboard users
           use '&' before class otherwise it wont show up in browser,
           coz without & it will be on same element
           if it has focus, so we use pseudo class:focus,
           then */
        &.skip-link:focus {
            left: 0;
            width: auto;
            height: auto;
            background-color: var(--color-main-bg);
            color: var(--color-text-light);
            padding: 10px;
            border: 2px solid var(--color-text-light);
        }
    }

    /* space between all the sections 
    (after search, current condition, daily forecast) */
    .main {
        display: grid;
        /* will do row-gap instead just gap to add space on right side of row
        so when we change the size to tablet or mobile size, we dont see space, 
        and our content goes bit off screen towards right 
        so to add space we do row-gap instead of just gap
        and will have margins on either side*/
        row-gap: 32px;
    }

    /* mobile & tablet */
    .dashboard {
        display: grid;
        gap: 32px; /* gap: 32px between columns */
        grid-template-areas: 
            /*1 columns for each*/
            "current" 
            "daily" 
            "hourly";
            /* desktop */
        @media (width >= calc(1000 / 16 * 1rem)) {
            gap: 48px 32px; /* gap: 48px between rows, 32px between columns */
            grid-template-columns: repeat(3, 1fr);
            grid-template-areas: 
                "current current hourly"
                "daily daily hourly"; 
        }
    }

    /*dropdown: unit(celsius & fahrenheit) and hourly forecast*/
    .dropdown {
        background-color: var(--color-panel-bg-dark);
        color: var(--color-text-light);
        border: 0;
        font-size: var(--font-size-dropdown);
        border-radius: 8px;
    }

    /* helper class for condition class 4 panels: 
    feels like, humidity, wind, prcipitation
    and for daily__forecast class. 
    as it uses same bg color and border styles*/
    .block {
        background-color: var(--color-panel-bg-dark);
        border: 1px solid var(--color-panel-border);
        border-radius: 12px;
    }
}

/* styles for the main components for our page */
@layer component {
    /* for all the header style, will nest inside this header class selector
       this is to prevent the conflicts with our styles.
       so all styles here will only take effect inside 
       an element that has a class of header which will only 
       exist in this header tag*/
    .header {

        /* Units dropdown for mobile*/
        .header__content {
            display: flex;
            align-items: center; /*to prevent changes in height*/
            /*on either side (so it will move to right side)
             coz parent class header logo image is on left side and
             this is child wrapper class which will make it move all the way to right side */
            justify-content: space-between; 
            padding-block-start: 16px; /*padding at the top of page*/
        }

        .header__homelink {}

        /* header logo image 
         137px on mobile */
        .header__logo {
            width: calc(137 / 16 * 1rem);

            /* tablet 197px 
            700px for breakpoint
            ensure to use same media queries break points as much as possible*/
            @media (width >= calc(700 / 16 * 1rem)) {
                width: calc(197 / 16 * 1rem);
            }
        }

        /* Units dropdown for mobile*/
        .header__dropdown {
            width: calc(90 / 16 * 1.4rem);
            /* width: auto; */
            background-image: url("/assets/images/icon-units.svg");
            background-repeat: no-repeat;
            background-position: 16px center; /*16px from left*/
            padding: 12px 40px; /*12px on top & bottom, 40px on left & right*/
        }
    }

    /* mobile: styles for h tags */
    .hero {
        
        .hero__content {
            display: grid; /*tablet*/
            justify-items: center; /*tablet*/
            padding-block-start: 48px;
        }

        /*mobile: 'how's the sky today?' */
        .hero__title {
            font-size: var(--font-size-h1);
            margin-block-end: 48px; /*space under title 'how's the sky today?'*/
            text-align: center;
            line-height: 1.2;
             

            /* iPad */
            @media (width < calc(1000 / 16 * 1rem)) {
                max-width: 15ch; /*makes half text of title move down (split in half)*/
            }
        }

        .hero__search {
            /*mobile*/
            display: grid; /*by default it add rows*/ 
            gap: 12px 16px; /*row 12px, column 16px*/
            width: 100%; /*search box size*/
            max-width: calc(656 / 16 * 1rem); /*decreasing search box size*/

            /* tablet */
            @media (width >= calc(700 / 16 * 1rem)) {
                grid-template-columns: 1fr auto; 
            }
        }
        /* input - text */
        .hero__textbox {
            /* reset default browser styles */
            /* search icon */
            background-image: url("/assets/images/icon-search.svg");
            background-repeat: no-repeat;
            background-position: 24px center;
            /* text styles */
            background-color: var(--color-panel-bg-dark);
            font-size: var(--font-size-search);
            padding: 16px 20px 16px 60px; /*top 16px, right 20px, bottom 16px, left 60px*/
            color: var(--color-text-med-light);
            border-radius: 12px; /*textbox*/

            /* outline for textbox */
            &:focus {
                outline: 2px solid var(--color-text-med-light);
            }
        }

        /* search button */
        .hero__button {
            background-color: var(--c-blue-500);
            border-radius: 12px;
            font-size: var(--font-size-search);
            color: var(--color-text-light);
            padding: 16px 24px; /*16 on top & bottom, 24 on left & right*/
            transition: background-color 120ms ease-in-out;

            &:hover {
                background-color: var(--color-button-bg-hover);
                cursor: pointer;
            }
        }
    }

    /* section 1 */
    .current {
        /* inherited from golbal main dashboard class */
        grid-area: current;

        /* city name, date, temp, current weather background image */
        .current__weather {
            display: flex;
            flex-direction: column; /*mobile*/
            place-items: center; /*sun icon and temperature for tablet and dektop*/
            gap: 16px; /*space under date*/
            margin-block-end: 20px; /*space under current weather bg image*/
            padding: 40px 24px; /*top bottom 40px, left right 24px*/
            background-image: url("/assets/images/bg-today-small.svg");
            background-repeat: no-repeat;
            background-color: var(--c-blue-700);
            background-size: cover;
            /*by default it positions the image to center,
             so will lose stuff on bottom,
             coz without this the image looks bit off from side corners*/
            background-position: center bottom; 
            border-radius: 20px;
            /* ensure the border radius passes through child element */
            overflow: clip;

            /* change background image on tablet */
            @media (width >= calc(700 / 16 * 1rem)) {
                flex-direction: row; /*city, date, temp*/
                justify-content: space-between; /*temp*/
                align-items: center; /*city, date*/
                /*to cover the bottom corners*/
                background-image: url("/assets/images/bg-today-large.svg");
                padding-block: 83px; /*current weather - top & bottom*/
            }
        }

        .current__location {
            text-align: center; /*current date text*/
        }

        .current__city {
            font-size: var(--font-size-city);
            font-weight: 700;
            margin-block-end: 12px; /*space under city name*/
        }

        .current__date {
            font-size: var(--font-size-date);
            color: var(--color-text-med-light);
        }

        /* current icon & temperature */
        .current__info {
            display: flex; /*side by side*/
            align-items: center; /*temp centered*/
            gap: 20px;
            
        }

        /* sun incon (current weather)*/
        .current__icon {
            width: 120px; /*we didn't use rem for this we dont want it to scale up*/
            height: auto;
        }

        .current__temp {
            font-size: var(--font-size-temp);
            line-height: 1;
            letter-spacing: -2%; /**/
            font-weight: 600;
            font-style: italic;
        }

        /* parent - section1: contains feels like, humidity, wind, precipitation */
        .current__conditions {
            display: grid;
            grid-template-columns: repeat(2, 1fr); /*mobile 2 columns*/
            gap: 16px; /*space between 4 individuals*/

            /* tablet from clumn to row */
            @media (width >= calc(700 / 16 * 1rem)) {
                grid-template-columns: repeat(4, 1fr);
            }

        }
        /* 4 individual panels for feels like and so on... */
        .current__condition {
            padding: 20px; /*all around*/
        }

        .current__condition-title {
            font-size: var(--font-size-panel-title);
            color: var(--color-text-med-light);
            margin-block-end: 24px; /*space under condition title*/
        }

        .current__condition-value {
            font-size: var(--font-size-panel-value);
            font-weight: 300;
        }
    }

/* ************************************************************************************************** */

    /* Section2: daily forecast */
    .daily {
        /* inherited from golbal main dashboard class*/
        grid-area: daily;
        

        .daily__title {
            font-size: var(--font-size-forecast-title);
            margin-block-end: 20px; /*space under title*/
        }

        /* mobile: all forecast 7 panels */
        .daily__forecast{
            display: grid;
            grid-template-columns: repeat(3, 1fr); /*3 columns*/
            /*space between 7 individual panels
             which are spread across 3 columns*/
            gap: 16px; 

            /* tablet */
            @media (width >= calc(700 / 16 * 1rem)) {
                /* this will change 3 columns for mobile to
                 7 columns for tablet size */
                grid-template-columns: repeat(7, 1fr); 
            }
        }

        /*inside block*/
        .daily__day {
            display: grid;
            /* 'justify-items will align horizontally'
              align-items will align vertically */
            justify-items: center; /*icon */
            gap: 16px; /*inside: space under, day title and icon*/
            padding: 16px 10px; 
            text-align: center; /*day and temp*/
        }

        .daily__day-title {
            font-size: var(--font-size-forecast-day);
        }

        .daily__day-icon {
            width: 60px;
            height: auto;
        }

        /* inside daily forecast block */
        .daily__day-temps{
            /* daily_day temp class is child of grid daily_day class
             and we have added grid for daily_day class
             so by default we have centred the two temps using grid.
             which means adding 'justify-content space between'
             will not add space between temps, coz we've used flex for daily_day-temps class.
             so will use grid property 'self stretch' here to add space between two diff temps 
             and move them sdie by side*/
            justify-self: stretch; /*placed at top of flex coz its grid child property*/
            display: flex;
            justify-content: space-between;
            font-size: var(--font-size-forecast-temp);
        }

        .daily__day-high{}

        .daily__day-low{
            color: var(--color-text-med-light);
        }
    }

/* ************************************************************************************************** */
    
    /* Section3: hourly forecast */
    /* hourly class */
    .hourly {
        /* inherited from golbal main dashboard class*/
        grid-area: hourly;
        


        /* inside the hourly class div */
        .hourly__content {
            background-color: var(--color-panel-bg-dark);
            border-radius: 20px;
            padding: 20px 16px; /*top & bottom 20px, both sides 16px*/
            max-height: 57vh;
            overflow-y: scroll;

            @media (width <= calc(1000 / 16 * 1rem) ) {
                max-height: 45vh;
            }
        }
        
        /* forecast title & day dropdown */
        .hourly__header {
            /*moves dropdown day from bottom to top right side 
            beside hourly forecast header*/
            display: flex; 
            gap: 40px;
            /*adds space between forecast title and day dropdown*/
            justify-content: space-between; 
            align-items: center; /*hourly day dropdown - this also changes height*/
            margin-block-end: 16px; /*space under forecast title and day dropdown*/

        }

        .hourly__title {
            font-size: var(--font-size-forecast-title);
            /* by default H tag font weight are set to bold in browser
            so will change it to semi-bold here for title
            semi-bold is less than bold which is 600 */
            font-weight: 600;
        }

        /* dropdown */
        .hourly__select {
            background-color: var(--color-panel-bg-med);
            width: auto;
            padding: 8px 16px; /*8px top&bottom 16px left&right*/
        }

        .hourly__select-day {}

        /* hourly_hours will be grid parent
        coz hourly_hour are children of hourly_hours 
        and will not add columns for mobile size*/
        .hourly__hours{
            display: grid;
            gap: 16px; /*gap under each hourly_hour class (under temp)*/
        }

        /* inside hourly hour where the icon, time, temp is placed
         so under hourly_forecast class and hourly day dropdown
         basically the hourly_hour div*/
        .hourly__hour {
            display: grid;
            /* icon and all should be same size
             so will do: auto for icon, auto for time, 
             degree will be 1fr which will take the rest of the grid 
             this will also move time and degree at the top right side beside icon
             for each hourly_hour class*/
            grid-template-columns: auto auto 1fr;
            gap: 8px; /*add space between icon, time and degree*/
            /* use flex 'align-item' property to
             vertically align the time and degree in centre*/
            align-items: center;
            /* inside hourly_hour class*/
            padding: 10px 16px 10px 12px; /*top 10px, right 16px, bottom 10px, right 12px*/
            background-color: var(--color-panel-bg-med);
            border: 1px solid var(--color-panel-border); /*border for hourly_hour div*/
            border-radius: 8px;
        }

        .hourly__hour-icon {
            /* we already set the width and height in html attribute
            but we should not depend on html and
            its always better to style it in css */
            width: 40px;
            height: auto;
        }

        .hourly__hour-time {
            font-size: var(--font-size-forecast-hour);

        }

        .hourly__hour-temp {
            font-size: var(--font-size-forecast-temp);
            /* we have the biggest column for degree 
            coz in hourly_hour class, we set the 'grid-column : degree' to '1fr'
            but we can change it and add the space between them in this class
            using grid property 'justify self' 
            which will move degree at the end of the column*/
            justify-self: end;
        }
    }
}


